{% extends "base.html" %}
{% load static dsfr_tags wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtail_dsfr_tags i18n %}

{% block title %}
  <title>{{ page.seo_title|default:page.title }} — {{ settings.content_manager.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% if page.search_description %}
  {% block description %}
    <meta name="description" content="{{ page.search_description }}" />
  {% endblock description %}
{% endif %}

{% block social_media %}
  <meta property="og:site_name" content="{{ request.get_host }}" />
  <meta property="og:title"
        content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.full_url }}" />
  <meta property="og:description" content="{{ page.search_description }}" />
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />

  {% if page.get_translations.live %}
    {% for translation in page.get_translations.live %}
      <meta property="og:locale:alternate"
            content="{{ translation.locale.language_code }}" />
    {% endfor %}
  {% endif %}

  <meta name="twitter:title"
        content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
  <meta name="twitter:description" content="{{ page.search_description }}" />

  {% if page.header_image %}
    <meta name="twitter:card" content="summary_large_image" />
    {% image page.header_image fill-1200x627 as header_image %}
    <meta property="og:image" content="{{ header_image.full_url }}" />
    <meta name="twitter:image" content="{{ header_image.full_url }}" />
  {% else %}
    <meta name="twitter:card" content="summary" />
  {% endif %}
{% endblock social_media %}

{% block content %}
  {% include "content_manager/blocks/heading.html" %}

  <div class="fr-container fr-pt-4w">
    {% include "content_manager/blocks/breadcrumbs.html" %}
    {% if not page.header_with_title %}
      <h1>
        {{ page.title }}
        {% if extra_title %}: {{ extra_title }}{% endif %}
      </h1>
    {% endif %}

    {% include "content_manager/blocks/messages.html" %}

    {% if current_category.description %}
      <div class="fr-mb-4w">{{ current_category.description|richtext }}</div>
    {% else %}
      <div class="fr-mb-4w">{{ page.body }}</div>
    {% endif %}

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
      <div class="fr-col fr-col-md-4 fr-col-12">
        <nav class="fr-sidemenu fr-sidemenu--sticky-full-height fr-mb-0-5v">
          <div class="fr-sidemenu__inner">
            <button class="fr-sidemenu__btn"
                    hidden
                    aria-controls="fr-sidemenu-wrapper-{{ page.slug }}"
                    aria-expanded="false">{% translate "Filters" %}</button>
            <div class="fr-collapse" id="fr-sidemenu-wrapper-{{ page.slug }}">
              <div class="fr-sidemenu__title" id="fr-sidemenu-title">{% translate "Filters and export" %}</div>

              <div class="fr-my-3w">
                <h2 class="fr-h6">{% translate "Filter by year" %}</h2>
                <ul class="fr-tags-group fr-mt-1w">
                  {% for year in years %}
                    <li>
                      <a class="fr-tag"
                         href="{% routablepageurl page 'archives_view' %}{% toggle_url_filter year=year %}"
                         {% if year == current_year %}aria-pressed="true"{% else %}aria-pressed="false"{% endif %}>
                        {{ year }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="fr-col fr-col-md-8 fr-col-12">
        <div class="fr-grid-row fr-grid-row--gutters">{% include "events/blocks/events_index_posts_list.html" %}</div>
        {% if posts.paginator.num_pages > 1 %}
          <div class="fr-container fr-grid-row fr-grid-row--center fr-mt-6w">{% dsfr_pagination posts %}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
