# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        args: [ --fix, --exit-non-zero-on-fix ]
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    - id: black
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.9
    hooks:
      - id: uv-lock
