{
    "header_brand": "Intitulé officiel",
    "header_brand_html": "Intitulé<br />officiel",
    "footer_brand": "Intitulé officiel",
    "footer_brand_html": "Intitulé<br />officiel",
    "site_title": "Titre du site",
    "site_tagline": "Sous-titre du site",
    "footer_description": "Description"
}
