{% load static wagtailcore_tags wagtailimages_tags %}
<div style="{% if value.layout.background_color %}background-color: var(--background-alt-{{ value.layout.background_color }});
            {% endif %} min-height: 350px">
  <div class="fr-container fr-py-3w">
    <div class="fr-grid-row fr-grid-row--middle fr-grid-row--center {{ value.layout.vertical_margin }}">
      <div class="fr-col-md-6 {% if value.text_content.position == 'right' %} cmsfr-order__2 fr-pl-md-8v {% else %} fr-pr-md-8v {% endif %}">
        {% include "content_manager/heros/_hero_text_content.html" %}
        {% include "content_manager/heros/_hero_buttons.html" %}
      </div>
       <div class="fr-col-md-6">
      {% image value.image fill-600x600 as header_image %}
      <img class="fr-responsive-img"
           src="{{ header_image.full_url }}"
           alt="{{ header_image.alt }}" />
    </div>
    </div>
   
  </div>
</div>
