{% extends "sites_faciles/base.html" %}

{% load static dsfr_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block title %}
  <title>{{ page.seo_title|default:page.title }} — {{ settings.sites_faciles_content_manager.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% if page.search_description %}
  {% block description %}
    <meta name="description" content="{{ page.search_description }}" />
  {% endblock description %}
{% endif %}

{% block content %}
  {% include "sites_faciles_content_manager/blocks/messages.html" %}

  <div class="fr-container fr-my-6w">
    {% include "sites_faciles_content_manager/blocks/breadcrumbs.html" %}
    {% if not page.header_with_title %}
      <h1>
        {{ page.title }}
        {% if extra_title %}: {{ extra_title }}{% endif %}
      </h1>
    {% endif %}
    <ul>
      {% for category in categories|dictsort:"cat_name" %}
        <li>
          <a href="{% pageurl page %}?category={{ category.cat_slug }}"><strong>{{ category.cat_name }}</strong> ({{ category.cat_count }})</a>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}
