{% load i18n faceted_search_tags dsfr_tags %}

{% translate "Filter by theme" as theme_title %}
{% translate "Filter by collection" as collection_title %}
{% translate "Filter by category" as category_title %}
{% translate "Filter by tag" as tag_title %}
{% translate "Filter by author" as author_title %}
{% translate "Filter by organization" as source_title %}

{% if theme_tree and enabled_facets.theme %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/facet_value_tree.html" nodes=theme_tree facet="theme" selected_values=selected_themes as theme_content %}
    {% dsfr_accordion id="filter-theme" title=theme_title content=theme_content %}
  </section>
{% endif %}

{% if collection_tree and enabled_facets.collection %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/facet_value_tree.html" nodes=collection_tree facet="collection" selected_values=selected_collections as collection_content %}
    {% dsfr_accordion id="filter-collection" title=collection_title content=collection_content %}
  </section>
{% endif %}

{% if categories and enabled_facets.category %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/facet_value_list.html" facet="category" items=categories selected_values=selected_categories as category_content %}
    {% dsfr_accordion id="filter-category" title=category_title content=category_content %}
  </section>
{% endif %}

{% if tags and enabled_facets.tag %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/facet_value_list.html" facet="tag" items=tags selected_values=selected_tags as tag_content %}
    {% dsfr_accordion id="filter-tag" title=tag_title content=tag_content %}
  </section>
{% endif %}

{% if authors and enabled_facets.author %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/facet_value_list.html" facet="author" items=authors selected_values=selected_authors as author_content %}
    {% dsfr_accordion id="filter-author" title=author_title content=author_content %}
  </section>
{% endif %}

{% if sources and enabled_facets.source %}
  <section class="fr-filter-group">
    {% render_to_string "faceted_search/blocks/facet_value_list.html" facet="source" items=sources selected_values=selected_sources as source_content %}
    {% dsfr_accordion id="filter-source" title=source_title content=source_content %}
  </section>
{% endif %}
