{% extends "content_manager/blocks/sections/base_section.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block children %}
  <div class="fr-container fr-pt-4v">
    <div class="fr-grid-row cmsfr-text-content--{{ value.items_alignement }}">
      {% for item in rendered_items %}
        <div class="fr-col-12 fr-col-md-{{ value.items_per_row }} fr-pb-2v fr-pr-4v">
          <div>
            <img src="{{ item.rendition.full_url }}" alt={{ item.rendition.alt }} />
          </div>
          <h3 class="fr-h5 fr-pt-5v">{{ item.title }}</h3>
          <p class="">{{ item.text|richtext }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock children %}
