{% load wagtail_dsfr_tags wagtailcore_tags %}
<div class="fr-py-3w {{ value.layout.vertical_margin }}"
     style="{% if value.layout.background_color %}background-color: var(--background-alt-{{ value.layout.background_color }});
            {% endif %} min-height: 150px">
    <div class="fr-col-8 fr-col-offset-2 cmsfr-text-content--center">
        <h2>{{ value.section_title }}</h2>
        {% for item in value.items %}
            {% include "content_manager/blocks/card_vertical.html" with value=item %}
        {% endfor %}
    </div>
</div>
