:root {
    --w-color-primary-hue: 240;
    --w-color-secondary-hue: 173;
}

.sidebar-custom-branding {
    background-color: white;
    padding: 25px;
    border-radius: 50%;
}

.sidebar--slim .sidebar-custom-branding {
    padding: 10px;
    margin: 5px;
}

.admin-hidden {
    display: none;
}

/*** Changes to the editor to style it closer than the DSFR ***/

/* Force li at all indent levels to have discs */
.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth1,
.public-DraftStyleDefault-unorderedListItem {
    list-style-type: disc !important;
}
