/*** Fixes to the DSFR classes ***/

.fr-header__service-title em {
    font-weight: lighter
}

/*** Prefix the classes defined here with cmsfr- ***/

/* cf. https://github.com/wagtail/wagtail/issues/4431 */
.cmsfr-block-text p:empty {
    display: none
}

.cmsfr-hero {
    background-size: cover;
    background-repeat: no-repeat
}

.cmsfr-hero-position__center {
    background-position: center;
}

.cmsfr-hero-position__top {
    background-position: top;
}

.cmsfr-hero-position__bottom {
    background-position: bottom;
}

.cmsfr-hero-large {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.cmsfr-hero-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cmsfr-hero-column ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cmsfr-text-content__left {
    text-align: left;
}

.cmsfr-text-content__right {
    text-align: right;
}

.cmsfr-text-content__center {
    text-align: center;
}


.cmsfr-background-dark h1,
.cmsfr-background-dark p,
.cmsfr-background-dark button,
.cmsfr-background-dark ul {
    color: white
}

:root[data-fr-theme=light] .cmsfr-background-dark .fr-btn--secondary {
    background-color: rgba(255, 255, 255, 0.3)
}

.cmsfr-author_card__header {
    flex: 0 0 6rem !important;
    width: 6rem !important
}

.cmsfr-author-img {
    border-radius: 50%;
    height: 4.5rem !important;
    margin: 1.5rem;
    width: 4.5rem
}

.cmsfr-vertical_contact_card__header {
    background: var(--background-default-grey)
}

.cmsfr-vertical_contact_card-img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin: auto;
    max-width: 50%;
    aspect-ratio: initial !important
}

.cmsfr-block-stepper dd {
    padding-left: 0
}

.cmsfr-stepper__details {
    display: inherit;
    margin-top: 1rem;
    width: 100%
}

.cmsfr-footer__bottom-extra {
    border-left: 1px solid var(--border-default-grey);
    padding-left: 1em;
    margin-left: 1em
}

.cmsfr-display__inline {
    display: inline
}

@media all and (max-width: 575px) {
    .cmsfr-order-mobile__2 {
        order: 2
    }
}

.cmsfr-order__2 {
    order: 2;
}

.cmsfr-image-focus-left {
    object-position: left;
}

.cmsfr-image-focus-center {
    object-position: center;
}

.cmsfr-image-focus-right {
    object-position: right; 
}

.cmsfr-image-focus-top {
    object-position: top;
}

.cmsfr-image-focus-bottom {
    object-position: bottom;
}
