{% extends "base.html" %}

{% load static dsfr_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
    <title>{{ page.seo_title|default:page.title }} — {{ settings.content_manager.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% if page.search_description %}
    {% block description %}
        <meta name="description" content="{{ page.search_description }}" />
    {% endblock description %}
{% endif %}

{% block content %}
    {# Display Django message info from previous form #}
    {% if messages %}
        <div class="fr-container fr-mt-6w">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12">
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="fr-alert fr-alert--success fr-alert--sm fr-mb-5w"
                                 role="status">
                                <p>{{ message }}</p>
                            </div>
                        {% elif message.tags == "info" %}
                            <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w" role="status">
                                <p>{{ message }}</p>
                            </div>
                        {% elif message.tags == "error" %}
                            <div class="fr-alert fr-alert--error fr-alert--sm fr-mb-5w" role="alert">
                                <p>{{ message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="fr-container fr-mt-6w">
        <h1>{{ page.title }}</h1>
    </div>

{% endblock content %}
