{% extends "base.html" %}

{% load static dsfr_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block title %}
  <title>{{ page.seo_title|default:page.title }} — {{ settings.content_manager.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% if page.search_description %}
  {% block description %}
    <meta name="description" content="{{ page.search_description }}" />
  {% endblock description %}
{% endif %}

{% block social_media %}
  <meta property="og:site_name"
        content="{{ settings.content_manager.CmsDsfrConfig.site_title }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:description" content="{{ search_description }}" />
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />

  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ search_description }}" />
{% endblock social_media %}

{% block content %}
  <div class="fr-container fr-my-6w">
    {% dsfr_breadcrumb breadcrumb %}
    <h1>{% translate "Tags" %}</h1>

    {% include "content_manager/blocks/messages.html" %}

    <div class="fr-mb-2w">
      {% for first_letter in sorted_tags.keys|dictsort:0 %}
        <a href="#{{ first_letter }}" class="fr-tag">{{ first_letter }}</a>
      {% endfor %}
    </div>

    {% for first_letter, tags in sorted_tags.items|dictsort:0 %}
      <h2 id="{{ first_letter }}">{{ first_letter }}</h2>
      <ul>
        {% for tag in tags|dictsort:"tag_slug" %}
          <li>
            <a href="{% pageurl page %}?tag={{ tag.tag_slug }}"><strong>{{ tag.tag_name }}</strong> ({{ tag.tag_count }})</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock content %}
