{% extends "base.html" %}

{% block title %}
    <title>{{ page.seo_title|default:page.title }} — {{ settings.content_manager.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% if page.search_description %}
    {% block description %}
        <meta name="description" content="{{ page.search_description }}" />
    {% endblock description %}
{% endif %}

{% block content %}
    {% include "content_manager/blocks/messages.html" %}

    {% include "content_manager/blocks/blocks_stream.html" %}
{% endblock content %}
