{% extends "base.html" %}

{% load wagtailcore_tags dsfr_tags %}

{% block content %}
    <div class="fr-container fr-my-6w">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-md-8">
                <h1>{{ page.title }}</h1>
                {{ page.intro|richtext }}
                <form action="{% pageurl page %}" method="post">
                    {% csrf_token %}
                    {% dsfr_form %}

                    <input class="fr-btn" type="submit">

                    <ul>
                        {% for field in form %}
                            <li>{{ field.label }}, {{ field.type }}, {{ field.field.widget.attrs }} {{ field.field.widget }}</li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
