{% extends "base.html" %}

{% load static dsfr_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block title %}
  <title>{{ title }} — {{ settings.content_manager.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% block description %}
  <meta name="description" content="{{ home_page.search_description }}" />
{% endblock description %}

{% block content %}
  <div class="fr-container fr-mt-6w">
    {% dsfr_breadcrumb breadcrumb %}
    <h1>{% translate "Sitemap" %}</h1>
    {% include "content_manager/blocks/messages.html" %}
  </div>

  <div class="fr-container fr-mt-6w">
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
      <ul>
        <li>
          <a href="{% pageurl home_page %}">{{ home_page.title }}</a>
          <ul>
            {% include "content_manager/blocks/sitemap_entry.html" with pagelist=home_page %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}
