{% load wagtailroutablepage_tags %}

<div class="fr-mt-2w">
  <ul class="fr-btns-group fr-btns-group--inline-sm fr-btns-group--icon-left fr-btns-group--right">
    <li>
      <a class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-rss-fill"
         href="{% routablepageurl page 'atom_feed' %}">Atom</a>
    </li>
    <li>
      <a class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-rss-fill"
         href="{% routablepageurl page 'rss_feed' %}">RSS</a>
    </li>
  </ul>
</div>
