{% extends "dsfr/header.html" %}
{% load static wagtailcore_tags menu_tags %}
{% block service_title %}
<a href="/" title="Accueil — {{ SITE_CONFIG.site_title }}">
    <p class="fr-header__service-title">{{ SITE_CONFIG.site_title }}</p>
</a>
{% endblock service_title %}

{% block service_tagline %}{{ SITE_CONFIG.site_tagline }}{% endblock service_tagline %}

{% block header_tools %}
    {% flat_menu handle="header_tools" template="menus/custom_flat_menu.html"  %}
{% endblock header_tools %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{# block burger_menu #}
{# endblock burger_menu #}

{% block main_menu %}
    <div class="fr-header__menu fr-modal"
         id="fr-menu-mobile"
         aria-labelledby="fr-btn-menu-mobile">
        <div class="fr-container">
            <button type="button"
                    class="fr-btn--close fr-btn"
                    aria-controls="fr-menu-mobile">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="fr-navigation" aria-label="Menu principal">
                {% main_menu max_levels=2 template="menus/custom_main_menu.html" sub_menu_template="menus/custom_sub_menu.html" %}
            </nav>
        </div>
    </div>
{% endblock main_menu %}
