{% load wagtailcore_tags wagtail_dsfr_tags %}
<div class="fr-callout {% if value.icon_class %}{{ value.icon_class }}{% endif %}{% if value.color %} fr-callout--{{ value.color }}{% endif %}">
  {% if value.title %}
    <{{ value.heading_tag | default:"p" }} class="fr-callout__title">
    {{ value.title }}
    </{{ value.heading_tag | default:"p" }}>
  {% endif %}
  {{ value.text | richtext_p_add_class:"fr-callout__text" }}
  {% if value.button.url %}
    {% include "sites_faciles_content_manager/blocks/button.html" with button=value.button %}
  {% endif %}
</div>
