{% load wagtailcore_tags i18n %}
<button {% if current_page.url in self.menu_urls %}aria-current="true"{% endif %}
        aria-expanded="false"
        aria-controls="{{ self.id }}"
        type="menu"
        class="fr-nav__btn">{{ self.label }}</button>

<div class="fr-collapse fr-mega-menu" id="{{ self.id }}">
  <div class="fr-container fr-container--fluid fr-container-lg">
    <button class="fr-link--close fr-link"
            aria-controls="{{ self.id }}"
            data-fr-js-collapse-button="true">{% translate "Close" %}</button>
    <div class="fr-grid-row fr-grid-row-lg--gutters">
      <div class="fr-col-12 fr-col-lg-8 fr-col-offset-lg-4--right">
        <div class="fr-mega-menu__leader">
          <h4 class="fr-h4 fr-mb-2v">{{ self.label }}</h4>
          {% if self.description %}
          <p class="fr-hidden fr-displayed-lg">{{ self.description }}</p>
          {% endif %}
          {% if self.main_link.url %}
          <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right fr-link--align-on-content" href="{{ self.main_link.url }}">{{ self.main_link.label }}</a>
          {% endif %}
        </div>
      </div>

    {% for column in self.columns %}
      {% include_block column %}
    {% endfor %}
    </div>
  </div>
</div>
