{% load dsfr_tags wagtailcore_tags wagtailimages_tags %}
<div class="fr-container--fluid">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col col-lg-9">
            <div class="fr-card fr-enlarge-link fr-card--horizontal-half">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <div class="fr-card__title">
                            {% if value.main_page_link %}
                                <a href="{{ value.main_page_link.url }}">{{ value.main_title }}</a>
                            {% elif value.main_title %}
                                <a href="{{ value.main_url_link }}">{{ value.main_title }}</a>
                            {% endif %}
                        </div>
                        <div class="fr-card__desc">
                            {{ value.main_text }}
                        </div>
                    </div>
                </div>
                <div class="fr-card__header">
                    <div class="fr-card__img">
                        {% image value.main_image original class="fr-responsive-img" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-col-lg-3">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-6 fr-col-md-12 ">
                    <div class="fr-card">
                        <div class="fr-card__body">
                            <div class="fr-card__content fr-p-5v">
                                <div class="fr-card__desc">
                                    {{ value.top_right_text }}
                                    <div style="text-align: center;">
                                        {% if value.top_right_page_link %}
                                            <a href="{{ value.top_right_page_link.url }}" class="fr-btn">{{ value.top_right_button_label }}</a>
                                        {% elif value.top_right_url_link %}
                                            <a href="{{ value.top_right_url_link }}"
                                               class="fr-btn"
                                               target="_blank"
                                               title="{{ value.top_right_button_label }} - ouvre une nouvelle fenêtre">
                                                {{ value.top_right_button_label }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fr-card__header">
                            <div class="fr-card__img">
                                {% image value.top_right_image original class="fr-responsive-img fr-ratio-32x9" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-6 fr-col-md-12">
                    <div class="fr-card">
                        <div class="fr-card__body">
                            <div class="fr-card__content fr-p-5v">
                                <div class="fr-card__desc">
                                    {{ value.bottom_right_text }}
                                    <div style="text-align: center;">
                                    {% if value.bottom_right_page_link %}
                                        <a href="{{ value.bottom_right_page_link.url }}" class="fr-btn fr-btn--secondary">{{ value.bottom_right_button_label }}</a>
                                    {% elif value.bottom_right_url_link %}
                                        <a href="{{ value.bottom_right_url_link }}"
                                           class="fr-btn fr-btn--secondary"
                                           target="_blank"
                                           title="{{ value.bottom_right_button_label }} - ouvre une nouvelle fenêtre">
                                            {{ value.bottom_right_button_label }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fr-card__header">
                            <div class="fr-card__img">
                               {% image value.bottom_right_image original class="fr-responsive-img fr-ratio-32x9" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>