{% load i18n static dsfr_tags wagtailuserbar wagtailsettings_tags sass_tags %}

{% get_settings %}
{% with SiteConfig=settings.content_manager.CmsDsfrConfig %}
  <!DOCTYPE html>
  <html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}"
        {% if SiteConfig.theme_modale_button %}data-fr-scheme="system"{% else %}data-fr-scheme="light"{% endif %}
        {% if SiteConfig.mourning %}data-fr-mourning{% endif %}>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      {% block title %}
        <title>
          {% if title %}{{ title }} —{% endif %}
        {{ SiteConfig.site_title }}</title>
      {% endblock title %}

      {% block description %}
      {% endblock description %}

      {% dsfr_favicon %}

      {% dsfr_css %}
      <link href="{% static 'dsfr/dist/utility/utility.min.css' %}"
            rel="stylesheet"
            type="text/css" />
      <link href="{% sass_src 'css/style.sass' %}"
            rel="stylesheet"
            type="text/css" />

      {% block extra_css %}
      {% endblock extra_css %}

      {% block cookie_banner %}
        {% include "blocks/cookie_banner.html" %}
      {% endblock cookie_banner %}

      {% block tracking %}
        {% if settings.content_manager.CustomScriptsSettings.head_scripts %}
          {{ settings.content_manager.CustomScriptsSettings.head_scripts|safe }}
        {% endif %}
      {% endblock tracking %}

      {% block social_media %}
      {% endblock social_media %}
    </head>

    <body>
      {% block skiplinks %}
        {% dsfr_skiplinks skiplinks %}
      {% endblock skiplinks %}

      {% include "blocks/header.html" %}
      {% dsfr_theme_modale %}
      {% wagtailuserbar %}

      {% if SiteConfig.notice_title or SiteConfig.notice_description %}
        {% include "blocks/notice.html" %}
      {% endif %}

      <main id="content" role="main">
        {% block content %}
        {% endblock content %}
      </main>

      {% block follow_newsletter_social_media %}
        {% if SiteConfig.show_newsletter_and_social_block %}
          {% include "blocks/follow.html" %}
        {% endif %}
      {% endblock follow_newsletter_social_media %}

      {% include "blocks/footer.html" %}

      {% dsfr_js nonce=request.csp_nonce %}
      {% block extra_js %}
      {% endblock extra_js %}

      {% block body_tracking_scripts %}
        {% if settings.content_manager.CustomScriptsSettings.body_scripts %}
          {{ settings.content_manager.CustomScriptsSettings.body_scripts|safe }}
        {% endif %}
      {% endblock body_tracking_scripts %}
    </body>
  </html>
{% endwith %}
