{% load static dsfr_tags wagtailsettings_tags sass_tags %}
{% get_settings %}
<!doctype html>
<html lang="fr" data-fr-scheme="system" {% if SITE_CONFIG.mourning %}data-fr-mourning{% endif %}>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% dsfr_css %}
  {% dsfr_favicon %}
  {% block extra_css %}
    <link href="{% sass_src 'css/style.sass' %}" rel="stylesheet" type="text/css"/>
  {% endblock extra_css %}

  {% block title %}<title>{% if title %}{{ title }} — {{ SITE_CONFIG.site_title }}{% else %}{{ SITE_CONFIG.site_title }}{% endif %}</title>{% endblock title %}
  {% block tracking %}
    {% if settings.content_manager.AnalyticsSettings.head_scripts %}
      {{settings.content_manager.AnalyticsSettings.head_scripts|safe}}
    {% endif %}
  {% endblock %}
</head>

<body>
    {% block skiplinks %}
        {% dsfr_skiplinks skiplinks %}
    {% endblock skiplinks %}
    {% include "blocks/header.html" %}
    {% dsfr_theme_modale %}
      <main id="content" role="main">
        {% block content %}{% endblock content %}
      </main>
    {% include "blocks/footer.html" %}

  {% dsfr_js nonce=request.csp_nonce %}
  {% block extra_js %}{% endblock extra_js %}

  {% block body_tracking_scripts %}
    {% if settings.content_manager.AnalyticsSettings.body_scripts %}
      {{settings.content_manager.AnalyticsSettings.body_scripts|safe}}
    {% endif %}
  {% endblock %}
</body>

</html>