{% extends "base.html" %}
{% load wagtailcore_tags dsfr_tags i18n %}

{% block title %}
  <title>{{ page.seo_title|default:page.title }} — {{ settings.content_manager.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% block content %}
  {% translate "Submit form" as submit_form %}
  <div class="fr-container fr-pt-4w">
    {% include "content_manager/blocks/breadcrumbs.html" %}
    <h1>{{ page.title }}</h1>

  </div>

  {% include "content_manager/blocks/messages.html" %}

  <div class="fr-container fr-pb-6w">
    {{ page.intro|richtext }}
    <form action="{% pageurl page %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input class="fr-btn" type="submit" value="{{ submit_form }}" />
    </form>
  </div>
{% endblock content %}
