{% extends "base.html" %}

{% load i18n wagtailcore_tags %}

{% block title %}
  <title>{{ page.seo_title|default:page.title }} — {{ settings.sites_conformes_core.CmsDsfrConfig.site_title }}</title>
{% endblock title %}

{% block content %}
  <div class="fr-container fr-pt-4w">
    {% include "sites_conformes_core/blocks/breadcrumbs.html" %}
    <h1>{{ page.title }}</h1>

  </div>

  {% include "sites_conformes_core/blocks/messages.html" %}

  <div class="fr-container fr-pb-6w">
    {% if page.thank_you_text %}
      {{ page.thank_you_text|richtext }}
    {% else %}
      <p>{% translate "Your form has been successfully submitted. Thank you!" %}</p>
    {% endif %}
  </div>
{% endblock content %}
