{% load static dsfr_tags wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

{% for block in stream %}
  {% if block.block_type == "callout" %}
    <div class="fr-container fr-mb-4w">{% include_block block %}</div>
  {% elif block.block_type == "image" %}
    <div class="fr-container fr-my-3w">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">{% include_block block %}</div>
      </div>
    </div>
  {% elif block.block_type == "multicolumns" %}
    {% include_block block %}
  {% elif block.block_type == "fullwidthbackground" %}
    {% include_block block %}
  {% elif block.block_type == "fullwidthbackgroundwithsidemenu" %}
    {% include_block block %}
  {% elif block.block_type == "paragraph" %}
    <div class="fr-container">{{ block.value|richtext }}</div>
  {% elif block.block_type == "alert" %}
    <div class="fr-container fr-mb-4w">{% include_block block %}</div>
  {% elif block.block_type == "card" %}
    <div class="fr-container fr-mb-4w">{% include_block block %}</div>
  {% elif block.block_type == "tile" %}
    <div class="fr-container fr-mb-4w">{% include_block block %}</div>
  {% elif block.block_type == "accordions" %}
    {% include "content_manager/blocks/accordions.html" with accordions_id=forloop.counter0|lower %}
  {% elif block.block_type == "stepper" %}
    {% include "content_manager/blocks/stepper.html" %}
  {% elif block.block_type == "separator" %}
    <div class="fr-container">
      <hr class="fr-mt-{{ block.value.top_margin }}w fr-mb-{{ block.value.bottom_margin }}w fr-py-1v">
    </div>
  {% elif block.block_type == "markdown" %}
    <div class="fr-container">{{ block.value|markdown }}</div>
  {% elif block.block_type == "html" %}
    <div class="fr-container">{{ block.value|safe }}</div>
  {% else %}
    <div class="fr-container">{% include_block block %}</div>
  {% endif %}
{% endfor %}
