{% load i18n wagtailcore_tags wagtail_dsfr_tags %}

<div class="fr-container fr-pt-4w">
  {% if value.title %}
    <{{ value.heading_tag|default:"h2" }}>{{ value.title }}</{{ value.heading_tag|default:"h2" }}>
  {% endif %}

  {% if categories and value.filter_by_category %}
    <div class="fr-my-3w">
      <h2 class="fr-h6">{% translate "Filter by category" %}</h2>
      <ul class="fr-tags-group">
        {% for category in categories %}
          <li>
            <a class="fr-tag"
               href="{% pageurl page %}{% toggle_url_filter category=category %}"
               {% if category.slug == current_category.slug %}aria-pressed="true"{% else %}aria-pressed="false"{% endif %}>
              {{ category.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if tags and value.filter_by_tag %}
    <div class="fr-my-3w">
      <h2 class="fr-h6">{% translate "Filter by tag" %}</h2>
      <ul class="fr-tags-group">
        {% for tag in tags %}
          <li>
            <a class="fr-tag"
               href="{% pageurl page %}{% toggle_url_filter tag=tag %}"
               {% if tag.id == current_tag.id %}aria-pressed="true"{% else %}aria-pressed="false"{% endif %}>
              {{ tag }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if authors and value.filter_by_author %}
    <div class="fr-my-3w">
      <h2 class="fr-h6">{% translate "Filter by author" %}</h2>
      <ul class="fr-tags-group">
        {% for author in authors %}
          <li>
            <a class="fr-tag"
               href="{% pageurl page %}{% toggle_url_filter author=author %}"
               {% if author == current_author %}aria-pressed="true"{% else %}aria-pressed="false"{% endif %}>{{ author.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if sources and value.filter_by_source %}
    <div class="fr-my-3w">
      <h2 class="fr-h6">{% translate "Filter by source" %}</h2>
      <ul class="fr-tags-group">
        {% for source in sources %}
          <li>
            <a class="fr-tag"
               href="{% pageurl page %}{% toggle_url_filter source=source %}"
               {% if source == current_source %}aria-pressed="true"{% else %}aria-pressed="false"{% endif %}>{{ source.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
    {% for post in value.posts %}
      <div class="fr-col fr-col-md-6">
        <div class="fr-card fr-enlarge-link">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h2 class="fr-card__title">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h2>
              <p class="fr-card__desc">Publié le {{ post.date |date:'l j F Y' }}</p>
              {% if post.blog_categories.all %}
                <div class="fr-card__start">
                  <ul class="fr-tags-group">
                    {% for cat in post.blog_categories.all %}
                      <li>
                        <p class="fr-tag">{{ cat.name }}</p>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          </div>
          {% if post.header_image %}
            <div class="fr-card__header">
              <div class="fr-card__img">
                <img class="fr-responsive-img"
                     src="{{ post.header_image.file.url }}"
                     alt="">
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <p>{% translate "No article found." %}</p>
    {% endfor %}
  </div>
</div>
