{% load wagtailimages_tags wagtailcore_tags %}
<div class="fr-card{% if block.value.url or block.value.document %} fr-enlarge-link{% endif %}">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <h3 class="fr-card__title">
                {% if block.value.url %}
                    <a href="{{ block.value.url }}">
                {% elif block.value.document %}
                    <a href="{{ block.value.document.url }}">
                {% endif %}
                    {{ block.value.title }}
                {% if block.value.url or block.value.document.url %}</a>{% endif %}
            </h3>
            <p class="fr-card__desc">{{ block.value.description|linebreaksbr }}</p>
        </div>
    </div>
    <div class="fr-card__header">
        {% if block.value.image %}
            <div class="fr-card__img">{% image block.value.image original class="fr-responsive-img" %}</div>
        {% endif %}
        {% if block.value.badge_text %}
            <ul class="fr-badges-group">
                <li>
                    <p class="fr-badge fr-badge--{{ block.value.badge_level }}{% if block.value.badge_icon %} fr-badge--no-icon{% endif %}">
                        {{ block.value.badge_text }}
                    </p>
                </li>
            </ul>
        {% endif %}
    </div>
</div>
