{% load dsfr_tags wagtailcore_tags wagtailimages_tags %}
{% picture value.bg_image original format-{avif,webp,jpeg} preserve-svg as bg %}
<div class="fr-py-5w {{ value.vertical_margin }} cmsfr-block-full-width-background"
     {% if value.bg_color_class or bg or value.bg_color %}style="background:{% endif %}
     {% if bg %}
       {% if bg.formats %}
         no-repeat center image-set(url('{{ bg.formats.avif.0.url }}') type('image/avif'), url('{{ bg.formats.webp.0.url }}') type('image/webp'), url('{{ bg.formats.jpeg.0.url }}') type('image/jpeg'))
       {% else %}
         no-repeat center url({{ bg.renditions.0.url }})
       {% endif %}
     {% endif %}
     {% if value.bg_color_class %} var(--background-alt-{{ value.bg_color_class }}) {% elif value.bg_color %}{{ value.bg_color }}{% endif %}
     {% if value.bg_color_class or bg or value.bg_color %};"{% endif %}>
  <div class="fr-container">{% include "content_manager/blocks/blocks_stream.html" with stream=value.content %}</div>
</div>
