{% load static wagtailcore_tags wagtailimages_tags %}
{% if page.header_image or page.header_color_class %}
  {% image page.header_image fill-1200x350 as bg_img %}
  <div class="cmsfr-hero{% if page.header_large %} cmsfr-hero-large{% endif %}{% if page.header_darken %} cmsfr-background-dark{% endif %}"
       style="{% if page.header_image %}background-image: {% if page.header_darken %}linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),{% endif %}url({{ bg_img.url }});
              {% elif page.header_color_class %}background-color: var(--background-alt-{{ page.header_color_class }});
              {% endif %} min-height: 350px">
    {% if page.header_with_title or page.header_cta_buttons or page.header_cta_link and page.header_cta_label %}
      <div class="fr-container fr-py-8w">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col fr-col-12{% if not page.header_large %}fr-col-md-6{% endif %}">
            {% if page.header_with_title %}
              <h1 {% if block.value.large %}class="fr-display--sm"{% endif %}>
                {{ page.title }}
                {% if extra_title %}: {{ extra_title }}{% endif %}
                {% include "content_manager/blocks/page_visibility.html" %}
              </h1>
            {% endif %}
            {% if page.header_cta_text %}{{ page.header_cta_text|richtext }}{% endif %}
            {% if page.header_cta_buttons %}
              {% for block in page.header_cta_buttons %}
                {% include_block block %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
