{% load static wagtailimages_tags %}
{% image block.value.bg_image original as bg_img %}
<div class="cmsfr-hero{% if block.value.large %} cmsfr-hero-large{% endif %}{% if block.value.darken %} cmsfr-hero-dark{% endif %}"
     style="{% if bg_img %}background-image: {% if block.value.darken %}linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),{% endif %}url({{ bg_img.url }});
            {% endif %} background-color: {% if block.value.bg_color_class %}var(--background-alt-{{ block.value.bg_color_class }}){% else %}{{ block.value.bg_color }}{% endif %}">
    <div class="fr-container fr-py-14w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col fr-col-12{% if not block.value.large %}fr-col-md-6{% endif %}">
                <h1 {% if block.value.large %}class="fr-display--sm"{% endif %}>{{ block.value.title }}</h1>
                {% if block.value.text %}<p>{{ block.value.text }}</p>{% endif %}
                {% if block.value.cta_link and block.value.cta_label %}
                    <a class="fr-btn {% if block.value.darken %}fr-btn--secondary fr-background-alt--blue-france fr-btn--lg{% else %}fr-btn--primary{% endif %} fr-btn--lg"
                       href="{{ block.value.cta_link }}">{{ block.value.cta_label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
