{% load i18n dsfr_tags wagtailcore_tags %}
<div class="fr-mb-4w">
  <a class="fr-link {{ value.size }}{% if value.external_url %} fr-icon-external-link-line fr-link--icon-right{% elif value.document %} fr-link--download{% else %} {{ value.icon }}{% endif %}"
     href="{{ value.url }}"
     {% if value.external_url %}target="_blank" rel="noopener noreferrer"{% endif %}>
    {{ value.text }}
    {% if value.external_url %}
      <span class="fr-sr-only">{% translate "Opens a new window" %}</span>
    {% endif %}
    {% if value.document %}
      <span class="fr-link__detail">
        {% if value.document.file_extension %}
          {{ value.document.file_extension|upper }}
        {% else %}
          {% translate "Unknown file format" %}
        {% endif %}
        -
        {% if value.document.file_size %}
          {{ value.document.file_size|filesizeformat }}
        {% else %}
          {% translate "Unknown file size" %}
        {% endif %}
      </span>
    {% endif %}
  </a>
</div>
