<div class="fr-container fr-my-3w">
  <div class="fr-stepper">
    <h2 class="fr-stepper__title">{{ value.title }}</h2>
    <div class="fr-stepper__steps"
         data-fr-current-step="{{ value.current }}"
         data-fr-steps="{{ value.total }}"></div>
    <div class="fr-grid-row fr-grid-row--gutters">
      {% for step in value.steps %}
        <div class="fr-col-12 fr-col-sm">
          <p>
            <strong>{{ step.value.title }}</strong>
          </p>
          <p>{{ step.value.detail|linebreaksbr }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
