
{% load dsfr_tags wagtailcore_tags wagtailimages_tags %}
<div class="fr-tile{% if value.enlarge_link %} fr-enlarge-link{% endif %}{% if value.is_horizontal %} fr-tile--horizontal{% endif %} {% if value.grey_background %}fr-tile--grey{% elif value.no_background %}fr-tile--no-background{% endif %} {% if value.no_border %}fr-tile--no-border{% endif %} {% if value.shadow %}fr-tile--shadow{% endif %}">
  <div class="fr-tile__body">
    <div class="fr-tile__content">
      {# djlint: off #}
      <{{ value.heading_tag | default:"h3" }} class="fr-tile__title">
        {% if value.link and value.link.url %}
          <a class="fr-tile__link" href="{{ value.url }}">{{ value.title }}</a>
        {% else %}
          {{ value.title }}
        {% endif %}
      </{{ value.heading_tag | default:"h3" }}>
      {# djlint: on #}
      {% if value.description %}<p class="fr-tile__desc">{{ value.description|safe }}</p>{% endif %}
      {% if value.detail_text %}<p class="fr-tile__detail">{{ value.detail_text }}</p>{% endif %}
      {% if value.top_detail_badges_tags %}
        <div class="fr-tile__start">
          {% for block in value.top_detail_badges_tags %}
            {% include_block block %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="fr-tile__header">
    {% image value.image original as pictogram %}

    {% if '.svg' in pictogram.url %}
      <div class="fr-tile__pictogram">
        <svg aria-hidden="true"
             class="fr-artwork"
             viewBox="0 0 80 80"
             width="80px"
             height="80px">
          <use class="fr-artwork-decorative" href="{{ pictogram.full_url }}#artwork-decorative"></use>
          <use class="fr-artwork-minor" href="{{ pictogram.full_url }}#artwork-minor"></use>
          <use class="fr-artwork-major" href="{{ pictogram.full_url }}#artwork-major"></use>
        </svg>
      </div>
    {% else %}
      <div class="fr-tile__img">{% image value.image width-80 %}</div>
    {% endif %}
  </div>
</div>
