{% extends 'base.html' %}
{% block title %}
    <title>{{ SITE_CONFIG.site_title }}</title>
{% endblock title %}
{% block content %}

    <div class="fr-container fr-mt-4w fr-mb-4w">


        <h1 class="fr-h1">Campus du Numérique</h1>
        <p class="fr-text--lead">Bienvenue sur la page d'accompagnement du booster agile du Campus du Numérique.</p>

        <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
            <div class="fr-col-12 fr-col-md-6">
            <div class="fr-card" style="background-color: #f5f5fe;">
                <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title">🤖 Comment ça marche ?</h3>
                    <p class="fr-card__desc">
                        Posez-nous vos questions via le chatbot, bouton rouge en bas à droite de cette page. Pour la réponse :
                    </p>
                    <ul class="fr-card__desc">
                        <li>en conservant cette page ouverte, le réponse s'affichera dans le chatbot lorsqu'une réponse aura été rédigée</li>
                        <li>en fermant cette page, la réponse sera envoyée par email à l'adresse que vous avez renseignée</li>
                        <li>la transcription des messages également envoyée par mail à la fin de la conversation</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>

            <div class="fr-col-12 fr-col-md-6">
            <div class="fr-card" style="background-color: #f5f5fe;">
                <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title">👩‍⚕️👩‍🏫 Vos correspondantes</h3>
                    <p class="fr-card__desc">
                    Derrière le bouton, vous avez : 
                    </p>
                    <ul class="fr-card__desc">
                        <li>Mélodie Dahi, mentore de directeurs de projet SI</li>
                        <li>Jihane Herizi, psychologue du travail et coach agile</li>
                    </ul>

                </div>
                </div>
            </div>
            </div>


            <div class="fr-col-12 fr-col-md-6">
            <div class="fr-card" style="background-color: #f5f5fe;">
                <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title">🤔 Pas de questions bêtes</h3>
                    <p class="fr-card__desc">
                    Pas de questions idiotes, donnez toutes les précisions possibles dans vos questions pour que nous puissions répondre de manière claire. 
                    </p>
                </div>
                </div>
            </div>
            </div>



            <div class="fr-col-12 fr-col-md-6">
            <div class="fr-card" style="background-color: #f5f5fe;">
                <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title">🎭 Respect de la confidentialité</h3>
                    <p class="fr-card__desc">
                    On protège la confidentialité de la question si jamais on devait la réutiliser elle sera totalement anonymisée.
                    </p>
                </div>
                </div>
            </div>
            </div>



            <div class="fr-col-12 fr-col-md-6">
            <div class="fr-card" style="background-color: #f5f5fe;">
                <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title">⏰ Délai de réponse</h3>
                    <p class="fr-card__desc">
                    Délai de réponse en 24h jours ouvrés.
                    </p>
                </div>
                </div>
            </div>
            </div>



            <div class="fr-col-12 fr-col-md-6">
            <div class="fr-card" style="background-color: #f5f5fe;">
                <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title">🆘 Je ne vois pas le bouton</h3>
                    <p class="fr-card__desc">
                    Si vous ne voyez pas le bouton, pensez à désactiver les potentiels bloqueurs sur cette page.
                    </p>
                </div>
                </div>
            </div>
            </div>



        </div>   

    </div>


{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="d0f84f78-f135-4c5e-80d1-de4a9b0fb5fd";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
{% endblock extra_js %}
