{% extends 'base.html' %}
{% block title %}
    <title>{{ SITE_CONFIG.site_title }}</title>
{% endblock title %}
{% block content %}
    <div class="fr-container fr-mt-4w">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h1 class="fr-h1">Campus du Numérique</h1>
            </div>
            <div class="fr-col-12">
                <p class="fr-text--lead">
                    Bienvenue sur la page d'accompagnement du booster agile du Campus du Numérique.
                </p>
                <h2 class="fr-h2">Page d'accompagnement</h2>
                <p>
                    Pour nous parler, cliquez sur le bouton Crisp en bas à droite de la page.
                </p>
                
                <h3 class="fr-h3">👩‍⚕️👩‍🏫 Vos correspondantes</h3>
                <p>
                    Derrière le bouton, vous avez : 
                </p>
                <ul>
                    <li>Mélodie Dahi, mentore de directeurs de projet SI</li>
                    <li>Jihane Herizi, psychologue du travail et coach agile</li>
                </ul>
                  
                <h3 class="fr-h3">⚙️ Pas de questions bêtes</h3>
                <p>
                    Pas de questions idiotes, donnez toutes les précisions possibles dans vos questions pour que nous puissions répondre de manière claire. 
                </p>
                
                <h3 class="fr-h3">🎭 Respect de la confidentialité</h3>
                <p>
                    On protège la confidentialité de la question si jamais on devait la réutiliser elle sera totalement anonymisée.
                </p>
                
                <h3 class="fr-h3">⏰ Délai de réponse</h3>
                <p>
                    Délai de réponse en 24h jours ouvrés.
                </p>
              
                <h3 class="fr-h3">🤔 Je ne vois pas le bouton</h3>
                <p>
                    Si vous ne voyez pas le bouton, pensez à désactiver les potentiels bloqueurs sur cette page.
                </p>
            </div>
        </div>
    </div>  
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="d0f84f78-f135-4c5e-80d1-de4a9b0fb5fd";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
{% endblock extra_js %}
