{% extends 'base.html' %}
{% load static dsfr_tags wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <div>
        <div class="fr-container fr-pt-2w fr-pb-6w">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12">
                    {% dsfr_breadcrumb %}
                    <h1 class="fr-display--sm">Catalogue de formations et parcours</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container fr-my-6w">
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for formation in formationpage_list %}
                <div class="fr-col-12 fr-col-sm-6 fr-col-md-4">
                    <div class="fr-card">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h3 class="fr-card__title">                          
                                    {{ formation.name }}
                                </h3>
                                <p class="fr-card__desc">{{ formation.get_kind_display }}</p>
                            </div>
                            <div class="fr-card__footer">
                                <ul class="fr-links-group">
                                    <li>
                                        <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
                                           href="{% pageurl formation %}">Voir la fiche</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
